.div-map {
    background-image: url(../img/Consejos-para-decorar-una-tienda-de-tecnología-e1523026451497.webp);
    background-position: center;
    z-index: 0;
    height: 700px;
    background-size: cover;
    clear: both;
    text-decoration: none;
}

.map-degradado {
    background: linear-gradient(#000 10%, transparent);
    height: 320px;
}

.map-text, .context1{
    margin: 0px auto;
    max-width: 1300px;
}

.map-text {
    margin: 0px auto;
	color: rgb(255, 255, 255);
}

.map-text h2 {
    font-size: 60px;
    padding: 100px 0px 0px 40px;
    text-decoration: none;
    user-select: none;
}

.map-text h3 {
    font-size: 30pt;
    padding: 5px 0px 0px 70px;
    text-decoration: none;
    user-select: none;
}

.conjunto1 {
    overflow: auto;
    width: 100%;
}

.conjunto2 {
    width: 50%;
    float: left;
}

.container-subtitulo h2 {
    text-align: center;
    margin-top: 150px;
    font-size: 30pt;
}

.container-conjuntos {
    max-width: 1300px;
    width: 100%;
    margin: 0px auto;
}

.container-text {
    max-width: 700px;
    margin: 0px auto
}

.container-text p{
    font-size: 20pt;

}